.tracker-container {
    width: 35vw;
    min-width: 500px;
}

.logging-container {
    height: 65vh;
    overflow-y: scroll;
    scrollbar-width: thin;
    border-radius: 10px;
}

.log-btn-row {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    justify-content: center;
}